<section ng-controller="ExampleController">
	
	<div class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	    	 <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
	  	    	<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 				<span class="icon-bar"></span>
 			</button>
	      	<a class="navbar-brand" href="#">TEDESCO</a>
			<!--<p class="navbar-text" data-ng-show="!authentication.user"><a href="/signup">Signup</a></p>
			<p class="navbar-text" data-ng-show="!authentication.user"><a href="/signin">Signin</a></p>
			<p class="navbar-text" data-ng-show="authentication.user"><a href="/signout">Signout</a></p>-->
	    </div>
	    	<div class="collapse navbar-collapse" collapse="isCollapsed">
	    		<ul class="nav">
	    			<li><p class="navbar-text navbar-right" data-ng-show="!authentication.user"><a href="/signup">signup</a></p>
					<li><p class="navbar-text navbar-right" data-ng-show="!authentication.user"><a href="/signin">signin</a></p>
					<li><p class="navbar-text navbar-right" data-ng-show="authentication.user"><a href="/signout">signout</a></p>
	    			<li><p class="navbar-text navbar-right"><a class="navbar-link" href="#">contact</a></p></li>
	    			<li><p class="navbar-text navbar-right"><a class="navbar-link" href="#">blog</a></p></li>
	    			<li><p class="navbar-text navbar-right"><a class="navbar-link" href="#">projects</a></p></li>
	    			<li><p class="navbar-text navbar-right"><a class="navbar-link" href="#">skills</a></p></li>
				</ul>
			</div>
	  </div>
	</div>

	<!--<div class="jumbotron">
  		<div data-ng-show="authentication.user">
			<h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
		</div>

		<div data-ng-show="!authentication.user">
			<p>...</p>
		</div>
	
  		
	</div>-->

	
	  <div style="height: 500 px">
	    <carousel interval="myInterval">
	      <slide ng-repeat="slide in slides" active="slide.active">
	        <img ng-src="{{slide.image}}" style="margin:auto;" class="img-responsive">
	        <div class="carousel-caption">
	          <h4>Slide {{$index}}</h4>
	          <p>{{slide.text}}</p>
	        </div>
	      </slide>
	    </carousel>
	   </div>
	

	<div data-ng-show="authentication.user">
		<ul>
			<li><a href="/#!/articles">List Articles</a></li>
			<li><a href="/#!/articles/create">Create Article</a></li>
		</ul>
	</div>
</section>